/* Reset styling */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: serif;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
}

.main-container {
  display: flex;
}

/* Heading */
.main-heading {
  text-align: center;
  margin: 1rem 0rem;
}

/* Headers */
nav {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-basis: 20%;
}

nav .link {
  text-decoration: none;
  color: black;
  margin: 3rem 1rem;
  font-size: 1.25rem;
  padding: 1rem;
  width:9rem;
}

nav .link.active {
  color: red;
  border-right: 5px solid #000;
  font-weight: 700;
}

.material-symbols-outlined {
  position: relative;
  top: 5px;
  left: -8px;
  font-size: 1.25rem;
}

.email-container {
  flex-shrink: 1;
  flex-basis: 80%;
  padding: 0 2rem;
}

/* Email Card */

.email-card {
  background-color: #fff;
  border: 1px solid #d3d3d3;
  border-radius: 10px;
  padding: 1rem;
  font-size: 1rem;
  box-shadow: 0 4px 8px #0003;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button {
  font-family: sans-serif;
  cursor: pointer;
  background-color: white;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

.sub-star-container {
  display: flex;
  justify-content: space-between;
}

.email-card p {
  margin: 1rem 0rem 1rem 0rem;
  font-size: 1rem;
}

.email-card .action-container {
  display: flex;
  justify-content: space-between;
}

.email-card .action-container button:nth-child(2) {
  margin: 0rem 1rem;
}

.email-card.unread {
  background-color: #f3f7fc;
}

.email-card .delete {
  color: #f45446;
}

.email-card .view-details {
  text-decoration: none;
  color: #2d2f30;
}

.email-card .read-unread {
  color: #ffa31b;
}

.email-card .spam {
  color: #8acb8c;
}

/* Filters */
.filters-container {
  margin: 4rem 0rem 1rem;
}

.filters-container fieldset {
  padding: 1rem;
}

input[type="checkbox"] {
  cursor: pointer;
  vertical-align: middle;
  position: relative;
  top: -1px;
  margin: 0 0.25rem 0;
}

/* Inbox */
.unread-title {
  margin: 0 0 3rem;
}

/* Email detail */
.email-detail-content {
  margin-top: 3rem;
}

.email-detail-sub {
  margin-top: 6rem;
}